// Color Palette
$primary: #2860e6;
$danger: #ff5252;
$warning: #ffd166;
$success: #38bb56;
$info: #5aa9e6;
$black: #000000;
$white: #ffffff;
$grey: #c4c2c2;
$default: #e9ebef;

// Text Colors
$text-primary: #2861e6;
$text-danger: #ff5353;
$text-warning: #ffd167;
$text-success: #38ba56;
$text-info: #5aa8e6;
$text-black: #000000;
$text-white: #ffffff;
$text-grey: #c4c2c3;
$text-default: #eaebef;
$text-body: #212429;
$text-ro: #a6afbe;
$text-disabled: #bbbbbb;
// shade of colors
$primary-light-90: #f9faff;
$primary-light-80: #d4e0fa;
$primary-light-60: #aabff6;
$primary-light-40: #7da0f1;
$primary-light-20: #5480eb;
$primary-dark-20: #214db8;
$primary-dark-40: #173a8b;
$primary-dark-60: #11265d;
$primary-dark-80: #08142e;

$danger-light-90: #ffebec;
$danger-light-80: #fedcdb;
$danger-light-60: #ffbbba;
$danger-light-40: #ff9796;
$danger-light-20: #ff7575;
$danger-dark-20: #cc4242;
$danger-dark-40: #993130;
$danger-dark-60: #662221;
$danger-dark-80: #32100f;

$warning-light-90: #fefaef;
$warning-light-80: #fef6df;
$warning-light-60: #feedc1;
$warning-light-40: #ffe3a2;
$warning-light-20: #feda84;
$warning-dark-20: #cba751;
$warning-dark-40: #997d3c;
$warning-dark-60: #655428;
$warning-dark-80: #322a13;

$success-light-90: #ebf8ee;
$success-light-80: #d8f1dc;
$success-light-60: #afe4ba;
$success-light-40: #88d69a;
$success-light-20: #60c977;
$success-dark-20: #2d9644;
$success-dark-40: #227034;
$success-dark-60: #164b21;
$success-dark-80: #0c2510;

$info-light-90: #eef5fb;
$info-light-80: #deeefb;
$info-light-60: #bdddf4;
$info-light-40: #9bcbef;
$info-light-20: #7cbaeb;
$info-dark-20: #4987b8;
$info-dark-40: #356589;
$info-dark-60: #24445b;
$info-dark-80: #12222f;

$black-light-90: #e5e5e5;
$black-light-80: #cccccc;
$black-light-60: #999999;
$black-light-40: #666666;
$black-light-20: #333333;

$white-dark-20: #cccccc;
$white-dark-40: #999999;
$white-dark-60: #666666;
$white-dark-80: #333333;

$grey-light-90: #f9f9f9;
$grey-light-80: #f3f3f3;
$grey-light-60: #e7e7e7;
$grey-light-40: #dcdadb;
$grey-light-20: #d0cecf;
$grey-dark-20: #9d9b9c;
$grey-dark-40: #767475;
$grey-dark-60: #4e4e4e;
$grey-dark-80: #272727;

$default-light-90: #fdfdfd;
$default-light-80: #fbfbfb;
$default-light-60: #f6f7f9;
$default-light-40: #f2f3f5;
$default-light-20: #eeeff3;
$default-dark-20: #b7bfca;
$default-dark-40: #8c8d8f;
$default-dark-60: #5d5e60;
$default-dark-80: #2f2f2f;

$body-light-90: #e8eae9;
$body-light-80: #d3d3d3;
$body-light-60: #a7a8aa;
$body-light-40: #7b7c80;
$body-light-20: #4d5154;
$body: #212429;
$body-dark-20: #1a1e21;
$body-dark-40: #15161a;
$body-dark-60: #0e0f11;
$body-dark-80: #070707;

$ro-light-90: #f6f7f9;
$ro-light-80: #eeeff3;
$ro-light-60: #dbdee5;
$ro-light-40: #c8cfd7;
$ro-light-20: #b7bfca;
$ro: #a6afbe;
$ro-dark-20: #848c97;
$ro-dark-40: #626971;
$ro-dark-60: #42454c;
$ro-dark-80: #222327;

$disabled-light-90: #f8f8f8;
$disabled-light-80: #f1f1f1;
$disabled-light-60: #e4e4e4;
$disabled-light-40: #d6d6d6;
$disabled-light-20: #c9c9c9;
$disabled: #bbbbbb;
$disabled-dark-20: #969696;
$disabled-dark-40: #707070;
$disabled-dark-60: #4b4b4b;
$disabled-dark-80: #252525;
